<div
  class="container bg-filter text-center py-5 my-5 fw-semibold rounded border-warning border"
>
  <div class="container pb-3 border-bottom border-black">
    <h4 class="fs-2">Dove trovarci</h4>
    <p class="fs-5">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-geo-alt-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
        />
      </svg>
      Via Pisino 6
    </p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.8109728242835!2d12.550911613307528!3d41.896922171119925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f624a71cd61ff%3A0x5fa5772b6018519b!2sVia%20Pisino%2C%206%2C%2000177%20Roma%20RM!5e0!3m2!1sen!2sit!4v1719912462956!5m2!1sen!2sit"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="rounded border border-warning max-width"
    ></iframe>
  </div>
  <div class="container pt-3">
    <h4 class="fs-2">Come contattarci</h4>
    <a
      href="tel:+393491234567"
      class="text-decoration-none text-black d-block my-3 fs-5"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-telephone-fill"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"
        />
      </svg>
      3491234567</a
    >
    <a
      href="mailto:valhalla@gaming.com"
      class="text-decoration-none text-black fs-5"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-envelope-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"
        />
      </svg>
      valhalla&#64;gaming.com</a
    >
  </div>
</div>
